# Base URL for the Backend API (if empty, axios will use relative path or localhost:8080)
VITE_API_URL=http://localhost:8080/api/v1

# Google Client ID used for the Google Login Button UI (must match backend)
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
